{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.question.label(class="form-control-label") }}
                    {% if form.question.errors %}
                        {{ form.question(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.question.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.question(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if edit %}
                        {{ form.submit_edit(class="btn btn-outline-info mt-2") }}
                    {% else %}
                        {{ form.submit(class="btn btn-outline-info mt-2") }}
                    {% endif %}
                </div>
            </fieldset>
        </form>
    </div>
    {% if edit and question.image %}
        <div class="d-flex justify-content-center">
            <p>Current image:</p>
            <img src="{{ url_for("static", filename="upload/" + question.image) }}" alt="" class="img-thumbnail my-3">
            <button class="text-danger align-self-start mt-3 ml-1 btn btn-lg p-0" data-toggle="modal" data-target="#deleteQuestionPictureModal"><i class="far fa-window-close"></i></button>
        </div>
    {% endif %}
    {% if edit %}
        <!-- Delete Question Picture Modal -->
        <div class="modal fade" id="deleteQuestionPictureModal" tabindex="-1" role="dialog" aria-labelledby="deleteQuestionPictureModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteQuestionPictureModalLabel">Delete tour question image?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        It will be deleted immediately and you can not undo it.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a href="{{ url_for("questions.delete_question_image", question_id = question.id) }}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}